@import "../stylesheets/theme/variables";

@font-face {
  font-family: 'Noto Nastaliq Urdu Draft';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot);
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.ttf) format('truetype');
}

body {
  width: 70%;
  margin: auto;
  padding-top: 50px;
  background-color: $white;
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  text-align: left;
}

.email-intro {
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.email-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header-text{
    min-width: 260px;
  }

}

a {
  text-decoration: none;
  color: #4490CE;
}

img {
  max-height: 100px;
}

.unsubscribe-footer {
  text-align: center;
}

.divider {
  height: 8px;
  width: 20%;
  background: $success;
  margin: 50px auto;
}

.lang-ur {
  font-family: 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Cabin', Helvetica, Arial, sans-serif;
  line-height: 2.3;
}

.ltr {
  text-align: left!important;
}

.rtl {
  text-align: right!important;

  .float-right {
    float: right !important;
  }

  ul,
  ul#{&} {
    padding-inline-start: 0;
  }
}

// Emoji ===================================================================

.emoji {
  max-height: 1em;
}

.selected-emoji {
  max-height: 2em;
}
