<section id="profile">
  <profile
    api-key="<%= FirebaseConfig.api_key %>"
    project-id="<%= FirebaseConfig.project_id %>"
    db-user-id="<%= current_user.id or '' %>">
  </profile>
  <noscript>
    Please enable JavaScript to modify your profile
  </noscript>
</section>
