{
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:vue/recommended",
    "plugin:prettier/recommended",
    "prettier/vue"
  ],

  "plugins": ["prettier"],

  "env": {
    "browser": true
  },

  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": ["error", { "props": false }]
  },

  "parserOptions": {
    "parser": "babel-eslint",
  },

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["app/webpack/**", "node_modules"],
            "extensions": [".js", ".vue"]
          }
        }
      }
    }
  }
}
