{
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],

  "env": {
    "browser": true,
    "jquery": true
  },

  "rules": {
    "class-methods-use-this": "off",
    "no-param-reassign": ["error", { "props": false }]
  },

  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["app/webpack/**", "node_modules"],
            "extensions": [".js", ".vue"]
          }
        }
      }
    }
  }
}
