<% content_for :stylesheets do %>
  <%= stylesheet_pack_tag 'authentication' %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_pack_tag 'authentication' %>
<% end %>

<div id='authentication'>
  <auth-app
    api-key="<%= ENV['FIREBASE_API_KEY'] %>"
    project-id="<%= ENV['FIREBASE_API_KEY'] %>"
  ></auth-app>
</div>