<section id="sign_in">
  <auth-app
    api-key="<%= FirebaseConfig.api_key %>"
    project-id="<%= FirebaseConfig.project_id %>">
  </auth-app>

  <noscript>
    Please enable JavaScript to sign in
  </noscript>
</section>
