<section id="sign_in">
  <sign-in
    api-key="<%= FirebaseConfig.api_key %>"
    project-id="<%= FirebaseConfig.project_id %>">
  </sign-in>

  <noscript>
    Please enable JavaScript to sign in
  </noscript>
</section>
