$white: #F7EEE3;
$gray-200: #f0f0f0;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #000;
$blue: #4490CE;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #F4A5A6;
$red: #EA4929;
$orange: #FF8D6B;
$yellow: #F9B632;
$green: #72C160;
$teal: #20c997;
$cyan: #75CAEB;
$primary: $blue;
$secondary: $yellow;
$success: $pink;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-200;
$dark: $gray-700;
$yiq-contrasted-threshold: 200;
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$btn-font-size: 0.75rem;
$btn-font-size-sm: 0.625rem;
$btn-font-weight: bold;
$dropdown-link-color: rgba(0,0,0,.5);
$nav-tabs-border-color: $gray-200;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $yellow;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$pagination-color: $gray-700;
$pagination-bg: $gray-200;
$pagination-hover-color: $pagination-color;
$pagination-hover-bg: $pagination-bg;
$pagination-active-border-color: darken($primary, 5%);
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $pagination-bg;
$jumbotron-bg: #fafafa;
$modal-content-border-color: rgba($black,.1);
$close-color: $white;
$body-color: $black;
$enable-responsive-font-sizes: true;
$emphasized-link-hover-darken-percentage: 35%;
$link-hover-color: $pink;
$input-color: $black;
$input-border-color: $pink;
$nav-link-disabled-color: $gray-800;
$popover-bg: $orange;
$badge-font-size: 85%;
$badge-padding-x: 0.7em;
$badge-padding-y: 0.7em;
$badge-pill-padding-x: 0.9em;
$list-group-border-color: rgba($black, .25);
$font-family-monospace: Open Sans, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-normal: 300;
$font-weight-bold: 1000;
$font-weight-light: 200;
$display1-size: 6.1rem;
$font-weight-bolder: 900;
