// Lumen 4.3.1
// Bootswatch


// Variables ===================================================================

@mixin shadow($width: 4px){
  border-style: solid;
  border-width: 0 1px $width 1px;
}

// Navbar ======================================================================

.navbar {
  @include shadow();
  background-color: $white;
  border-color: $pink;
  border-width: 0 0 2px 0;
  font-weight: 400;
}

.bg-primary {
  border-color: darken($primary, 5%);
}

.bg-dark {
  border-color: darken($dark, 5%);
}

.bg-light {
  background-color: #fff !important;
  border-color: darken(#fff, 5%);
}

.bg-success {
  background-color: $success;
}

// Buttons =====================================================================

.btn {
  @include shadow();
  text-transform: uppercase;

  &:not(.disabled):hover {
    margin-top: 1px;
    border-bottom-width: 3px;
  }

  &:not(.disabled):active {
    margin-top: 2px;
    border-bottom-width: 2px;
    @include box-shadow(none);
  }
}

[class*="btn-outline"] {
  border-top-width: 1px;
}

.btn {
  &-primary {
    border-color: darken($primary, 5%);
  }

  &-secondary {
    border-color: darken($secondary, 5%);
  }

  &-success {
    border-color: darken($success, 5%);
  }

  &-info {
    border-color: darken($info, 5%);
  }

  &-danger {
    border-color: darken($danger, 5%);
  }

  &-warning {
    border-color: darken($warning, 5%);
  }

  &-light {
    border-color: darken($light, 5%);
  }

  &-dark {
    border-color: darken($dark, 5%);
  }
}

.btn-group-vertical {
  .btn + .btn {
    &:hover {
      margin-top: -1px;
      border-top-width: 1px;
    }

    &:active {
      margin-top: -1px;
      border-top-width: 2px;
    }
  }
}

.leave-button {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 20;
  border: 2px solid $black;
  color: $black;
}

// Typography ==================================================================

.text-secondary {
  color: $gray-700 !important;
}

.blockquote-footer {
  color: $gray-600;
}

// Tables ======================================================================

.table {

  &-primary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }

  &-primary {
    &, > th, > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &, > th, > td {
      background-color: $secondary;
    }
  }

  &-light {
    &, > th, > td {
      background-color: $light;
    }
  }

  &-dark {
    &, > th, > td {
      background-color: $dark;
    }
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-active {
    &, > th, > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {

    .table-primary:hover {
      &, > th, > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &, > th, > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &, > th, > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &, > th, > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &, > th, > td {
        background-color: $table-active-bg;
      }
    }

  }
}

// Forms =======================================================================

.form-control {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.input-group-sm {
  > .input-group-prepend,
  > .input-group-append {
    .btn {
      font-size: $btn-font-size-sm;
    }
  }
}

// Navs ========================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav-tabs {

  .nav-link {
    color: $black;

    &,
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      margin-top: 6px;
      border-color: $nav-tabs-border-color;
      transition: all 0.2s ease-in-out;
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus,
    &.active {
      padding-bottom: calc(0.5em + 6px);
      border-bottom-color: transparent;
      margin-top: 0;
    }
  }

  &.nav-justified > li {
    vertical-align: bottom;
  }
}

.nav-link {
  color: $black;
}

.active > .nav-link{
  color: $blue;
  font-weight: bold;
}

.dropdown-menu {
  margin-top: 0;
  @include shadow();
  border-top-width: 1px;
  @include box-shadow(none);
}

.language-dropdown-item {
  color: $black
}

.language-selector {
  padding: 3px;
}

.breadcrumb {
  background:none;
}

.breadcrumb-notes {
  background-color: #f0f0f0;
  border-color: darken($breadcrumb-bg, 5%);
  @include shadow();
}

.pagination {

  > li > a,
  > li > span {
    position: relative;
    top: 0;
    @include shadow();
    color: $pagination-color;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus {
      top: 1px;
      border-bottom-width: 3px;
      text-decoration: none;
    }

    &:active {
      top: 2px;
      border-bottom-width: 2px;
    }
  }

  > .disabled > a,
  > .disabled > span {

    &:hover {
      top: 0;
      @include shadow();
    }

    &:active {
      top: 0;
      @include shadow();
    }
  }
}

.pager {

  > li > a,
  > li > span,
  > .disabled > a,
  > .disabled > span {

    &,
    &:hover,
    &:active {
      border-left-width: 2px;
      border-right-width: 2px;
    }
  }
}

// Indicators ==================================================================

.close {
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  color: $white;
  @include shadow();
  font-weight: bold;

  &-primary {
    background-color: $primary;
    border-color: darken($primary, 5%);
  }

  &-secondary {
    background-color: $secondary;
    border-color: darken($secondary, 5%);
  }

  &-success {
    background-color: $success;
    border-color: darken($success, 5%);
  }

  &-info {
    background-color: $info;
    border-color: darken($info, 5%);
    color: $black;
  }

  &-danger {
    background-color: $danger;
    border-color: darken($danger, 5%);
  }

  &-warning {
    background-color: $warning;
    border-color: darken($warning, 5%);
  }

  &-dark {
    background-color: $dark;
    border-color: darken($dark, 5%);
  }

  &-light {
    background-color: $light;
    border-color: darken($light, 5%);
  }

  .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
  }

  &-secondary,
  &-light {
    &,
    & a,
    & .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  &-warning,
  &-info {
    color: $white;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

a.list-group-item {

  &-success {
    &.active {
      background-color: $success;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($success, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $warning;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($warning, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $danger;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($danger, 5%);
    }
  }
}

.jumbotron {
  border: 1px solid $gray-200;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}

.modal {

  .close {
    color: $black;

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      color: $black;
    }
  }
}

// Cookies ==================================================================
.Cookie--soulmedicine {
  background: $secondary;
  color: $black;
  padding: 1.25em;
}

.Cookie__button {
  background: $success;
  padding: 0.625em 3.125em;
  color: $white;
  border-radius: 20px;
  border: 0;
}

.Cookie>* {
  margin: 0 !important;
}

// Sign-in ==================================================================
 .mdl-button--raised.mdl-button--colored {
   background: $pink !important;
 }

// Courses ==================================================================
.courses-intro {
  background-color: $white;
}

// SignIn ===================================================================
#sign_in {
  height: 75%;

  .info {
    background-color: $pink;

    img {
      width: 100%;
    }

    h2, h4 {
      width: 85%;
    }
  }

  .sign-in {
    background-image: url("https://a.storyblok.com/f/50602/1280x905/962f4bf99e/chayn_patterns_homepage-01.png");
    background-position: center;
    background-size: cover;

    // Max Widths dictated by firebase UI component
    .bg-beige {
        background-color: $white;
        max-width: 420px;
    }

    h5 {
      max-width: 360px;
    }
  }
}

// Emoji ===================================================================

.emoji {
  vertical-align: middle;
   max-width: 100%;
}
