<div class="footer pad-vertical-2pc">
    <div class="slice">
        <ul class="clean stacked link-list">
            <li><a href="/">About us</a></li>
            <li><a href="/">Partner with us</a></li>
            <li><a href="/">Blog</a></li>
        </ul>
        <form method="post" action="/" class="language-selector-form">
            <select id="language-selector">
                <option value="en" selected>English</option>
                <option value="ur">Urdu</option>
            </select>
        </form>
    </div>
    <div class="final band">
        <div class="slice">
            <%= image_tag "soul_medicine_logo.png", :class => 'logo', :alt => 'Soul Medicine Logo' %>
            <div class="copyright"><span class="desktop-only">Copyright</span> &copy; 2018 Chayn</div>
            <ul class="clean link-list">
                <li><a href="/">Terms &amp; Privacy</a></li>
                <li><a href="/">Intelectual Property</a></li>
            </ul>
        </div>
    </div>
</div>