<div class='jumbotron row m-4 px-5 py-3'>
  <%= image_tag('https://a.storyblok.com/f/50602/354x250/a8ee54faab/building_case_no_lawyer.png',
      class: 'col-sm-4',
      alt: '...') %>
  <div class='col-sm-8 my-auto'>
    <h1>You are now signed in!</h1>
    <%if @previous_course %>
      <p>You recently viewed <%= link_to tc(@previous_course.name), course_path(@previous_course) %>. </p>
    <% end %>
  </div>
</div>
