$tan: #f2e9d0;
$yellow: #ffcc33;
$pink: #ffa7a6;
$blue: #0e9cff;
$red: #ff441b;
$grey: #d8d4d4;
$white: #fff;
$pastel-cream: #FBFBF8;
$alabaster: #f5f4f0;


// ----------------------------------------------------------------------------
// Bootstrap overrides:
// See:
// - https://getbootstrap.com/docs/4.2/getting-started/theming/
// - https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_variables.scss

$enable-shadows: true;
$enable-gradients: true;

$theme-colors: (
  "primary": $blue,
  "secondary": $tan,
  "warning": $yellow,
  "danger": $red,
  "light": $alabaster
);

$line-height-base: 1.75;
$line-height-lg: 1.75;
$line-height-sm: 1.75;

$body-bg: #F2E9D0;
$body-color: #222;

$badge-font-size: 0.85rem;
$badge-font-weight: normal;
