@import "variables";

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

body > .container {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

hr {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacer * 1.5;
}

.ltr {
  @extend .text-left;
}

.rtl {
  @extend .text-right;

  .float-right {
    float: left !important;
  }

  ul,
  ul#{&} {
    padding-inline-start: 0;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-error {
  @extend .alert-danger;
}

.fas {
  color: $gray-500;
  margin-right: 0.3em;
}

.site-header {
  border-bottom: 1px solid $border-color;

  .navbar-brand {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    .logo {
      max-width: 30px;
      margin-right: 1em;
    }
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.missing-translated-content {
  font-style: italic;
  background: #ffffc1;
}

.course-description {
  color: $text-muted;
}

.course-card {
  background-color: $pastel-cream;

  &__description {
    width: 100%;
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
