@import "./theme/variables";

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';

@import "./theme/custom";

@font-face {
  font-family: 'Noto Nastaliq Urdu Draft';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot);
  src: url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notonastaliqurdudraft/v4/NotoNastaliqUrduDraft.ttf) format('truetype');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container:not(.page-container),
body > .container-fluid:not(.page-container) {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

.page-container .flash-alert {
  margin-top: $spacer;
}

hr {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacer * 1.5;
}

.ltr {
  @extend .text-left;
}

.rtl {
  @extend .text-right;

  .float-right {
    float: left !important;
  }

  ul,
  ul#{&} {
    padding-inline-start: 0;
  }
}

.lang-ur {
  font-family: 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Cabin', Helvetica, Arial, sans-serif;
  line-height: 2.3;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-error {
  @extend .alert-danger;
}

.fas {
  color: $gray-500;
  margin-right: 0.3em;
}

.site-header {
  border-bottom: 1px solid $border-color;

  .navbar-brand {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    .logo {
      max-width: 30px;
      margin-right: 1em;
    }
  }

  .active {
    text-decoration: underline;
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.missing-translated-content {
  font-style: italic;
  background: #ffffc1;
}

.course-description {
  color: $black;
}
