<div class="col-12 pt-5">
  <!--Leave Empty-->
</div>
<!-- heading and img -->
<h2 class="text-center">Sorry! You don’t have a permission to access this area.</h2>

<div class="row">
  <div class="col-4">
    <!-- leave blank -->
  </div>
  <div class="col-4 center-block">
    <img src="https://a.storyblok.com/f/50602/1699x1595/4e17c17b1a/not-the-best-looking-cat.png" class="img-fluid" alt="...">
  </div>
  <div class="col-4">
    <!-- leave blank -->
  </div>
</div>

<!-- main content -->
<div class="container-fluid col-text">
  <div class="py-3 px-lg-5 col-12">
    <p class="lead text-center">
      Head back to the <a href="https://soulmedicine.io" target="_blank">Homepage</a> or if you feel this is an error let us know at <i>team at soulmedicine.io</i>
    </p>
  </div>
</div>
