<!-- heading and img -->
<h2 class="text-center">Our server is really busy or under maintenance...</h2>
<div class='row'>
  <img src="https://a.storyblok.com/f/50602/2160x1080/bcbe092c80/cat-nap-medium-1.gif" class="img-fluid mx-auto" alt="Cat taking a nap" />
</div>

<!-- main content -->
<div class="container-fluid col-text">
  <div class="py-3 px-lg-5 col-12">
    <p class="lead text-center">
      It might take a while but we will be back soon! In the meantime, head back to the <a href="https://soulmedicine.io" target="_blank">Homepage</a> or if you feel this is an error let us know at <i>team at soulmedicine.io</i>
    </p>
  </div>
</div>
