<!-- heading and img -->
<h2 class="text-center">The page can’t be found. Don’t freak out! Check your typo!!</h2>
<div class='row'>
  <img src="https://a.storyblok.com/f/50602/690x564/7fde419bc4/hypuuurlynx.png" class="img-fluid mx-auto" alt="...">
</div>

<!-- main content -->
<div class="container-fluid col-text">
  <div class="py-3 px-lg-5 col-12">
    <p class="lead text-center">
      Head back to the <a href="http://soulmedicine.io/" target="_blank">Homepage</a> or if you feel this is an error let us know at <i>team at soulmedicine.io</i>
    </p>
  </div>
</div>
