<%
 title t('.title')
%>

<h1><%= t('.title') %></h1>

<section class="subscriptions-page">
  <% if @subscriptions.blank? %>
    <div class="alert alert-secondary" role="alert">
      <%= t('.no_subscriptions_html', pathways_link: link_to(t('concepts.course').pluralize, courses_path, { :class=>"alert-link" } )) %>
    </div>
  <% end %>

  <div>
    <% @subscriptions.each do |s| %>
      <%= render partial: 'card', locals: { subscription: s } %>
    <% end %>
  </div>
</section>
