<% redirect_url = local_assigns.fetch :redirect_url, nil %>

<%= link_to course_lesson_reaction_path(
      course_id: @course.slug,
      lesson_id: @lesson.slug,
      reaction_name: reaction,
      redirect_url: redirect_url
    ),
    method: :put do %>
    <p class="mb-0 text-left">
      <%== emojify(":#{reaction}:") %>
      <%= reaction.capitalize %>
    </p>
<% end %>
