<% redirect_url = local_assigns.fetch :redirect_url, nil %>

<%= link_to course_lesson_reaction_url(course_id: @course.slug, lesson_id: @lesson.slug, reaction_name: reaction, redirect: redirect_url),
    method: :put do %>
    <span data-toggle="tooltip"
      data-placement="top"
      title="<%= reaction.capitalize %>"
      class="px-1">
      <%== emojify(":#{reaction}:") %>
    </span>
<% end %>
