<%= render "courses/check_available", course: @course do %>
  <%
   title @lesson.name + ' | ' + @course.name
  %>

  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to tc(@course.name), course_path(@course) %>
      </li>
    </ol>
  </nav>

  <section class="lesson-page">
    <h2>
      <%= tc(@lesson.name) %>
    </h2>

    <div class="card">
      <div class="card-body">
        <%= tc(@lesson.content.html_safe) %>
      </div>
    </div>
  </section>
<% end %>
