<p class="font-weight-bold text-uppercase mb-2">
  <%= 'like'.pluralize.titleize %>
</p>
<p>
<%= link_to vote_path(:course_slug => @course.slug), class: 'voting-button', method: :post, remote: true do %>
  <%= icon heart_fill %>
<% end %>
<%= @vote_total %>
</p>
