<section>
  <h1>
    <%= t('concepts.course').pluralize.titleize %>
  </h1>
  <ul>
    <% @courses.each do |c| %>
      <li>
        <%= link_to tc(c.name), course_path(c) %>
      </li>
    <% end %>
  </ul>
</section>
