<footer class="site-footer">
  <div class="container">
    <div class="col p-5">
        <a href="en/pages/about-us">About us</a>
        <br />
        <a href="https://medium.com/hack-for-chayn">Blog</a>
        <br />
        <a href="https://www.paypal.me/chaynhq">Donate</a>
        <br />
        <br />
        <a href="https://www.facebook.com/chayn/">Facebook</a> /
        <a href="https://twitter.com/ChaynHQ">Twitter</a> /
        <a href="https://open.spotify.com/show/5QOSUw3m5EQK7lEwtGDYpn">Spotify</a>
    </div>
    <span>
      © <%= Time.now.year %>, Chayn
    </span>
    <span class="ml-4"><%= link_to t('site-footer.privacy-policy'), page_path('privacy-policy') %></span>
    <span class="ml-4"><%= link_to t('site-footer.terms-of-service'), page_path('terms-of-service') %></span>
  </div>
</footer>
