<!DOCTYPE html>
<html>
  <%= render 'head' %>

  <body>

    <main role="main">

      <div class="col-12 pt-5">
        <!--Leave Empty-->
      </div>

      <%= yield %>

    </main>

  </body>
</html>
