<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <%= stylesheet_pack_tag 'mailer', media: 'all' %>

    <!-- <style>
      body {
        font-family: 'Cabin', Helvetica, Arial, sans-serif;
      }

      .ltr {
        text-align: left;
      }

      .rtl {
        text-align: right;
      }
    </style> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
